@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}


/* @layer base {
  a {
    @apply text-link;
  }
} */

:root {
  --link: 220 90% 56%;
}

.dark {
  --link: 48 96% 89%;
}